# LLM
OPENAI_API_KEY=""
GEMINI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_DEPLOYMENT_NAME=""
OPENAI_API_VERSION=""

# GOOGLE SHEETS
SPREADSHEET_ID=""
CLIENT_SECRETS_FILE=""
TOKEN_FILE=""

#TWILIO
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER="whatsapp:"
YOUR_PHONE_NUMBER="whatsapp:"